{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block content %}
    <a href="index.php?action=homepage">HOMEPAGE</a>
    <section class="receptinfob">
        <h1 style="text-align: center">Boodschappen</h1>
        <div class="row">
            <div class="col-md-1">
                <h2>Foto</h2>
            </div>
            <div class="col-md-5" style="padding-left: 56px">
                <h2>Titel en beschrijving</h2>
            </div>
            <div class="col-md-2">
                <h2>Aantal</h2>
            </div>
            <div class="col-md-2">
                <h2>Prijs</h2>
            </div>
        </div>
        {% for bood in data %}
            <div class="row" style="margin-top: 50px">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="{{bood.foto}}" style="width: 100px; height: 100px">
                        </div>
                        <div class="col-md-9">
                            <h2 style="color: limegreen">{{bood.naam}}</h2>
                            {{bood.omschrijving}}
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    {{bood.aantal}}
                </div>
                <div class="col-md-2">
                    {{bood.aantal * bood.prijs}}
                </div>
                <div class="col-md-2">
                    <i class="fas fa-check fa-2x" style="color: green"></i>
                    <i class="fas fa-trash-alt fa-2x" style="color: red"></i>
                </div>
            </div>
        {% endfor %}
        <div class="tekstbox"></div>
        <h2 class="flotl" style="margin-bottom: 50px; color: darkred">Totaal</h2>
        <div class="flotr"><i class="fas fa-trash-alt fa-2x" style="color: red"></i></div>
        <div class="flotr">
            Totale Prijs
        </div>
    </section>

{% endblock %}