{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block content %}
    <a href="index.php?action=homepage">HOMEPAGE</a>
    <section>
        <div class="receptinfor">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{data.foto}}" style="width: 100%; height: 100%">
                </div>
                <div class="col-md-8">
                    <div class="flotl" style="padding-top: 20px">
                        <i class="fas fa-user-friends fa-2x"></i> <span style="font-size: 2em"> 4</span>
                        <i class="fas fa-euro-sign fa-2x" style="margin-left: 10px"></i> <span style="font-size: 2em">{{data.Totale_Prijs}},-</span>
                        <i class="fab fa-gripfire fa-2x" style="margin-left: 10px"></i> <span style="font-size: 2em">{{data.Totaal_Calorieën}}</span> 
                    </div>
                    <div class="flotr" style="padding-top: 20px"><h5>Gemiddelde Waardering:</h5>
                        <span class="fa fa-star gwstar" id="{{record.id}}_star1" data-value="1"></span>
                        <span class="fa fa-star gwstar" id="{{record.id}}_star2" data-value="2"></span>
                        <span class="fa fa-star gwstar" id="{{record.id}}_star3" data-value="3"></span>
                        <span class="fa fa-star gwstar" id="{{record.id}}_star4" data-value="4"></span>
                        <span class="fa fa-star gwstar" id="{{record.id}}_star5" data-value="5"></span>
                    </div>
                    <div style="clear: both"></div>
                    <div class="flotl"><h2>Heerlijke {{data.Naam}}!</h2></div>
                    <div class="flotr"><h2>Beoordeel dit Recept</h2>
                        <script>

                            $(document).ready(function(){
                                $(".star").click( function(){
                                    var value = $(this).attr("data-value");
                                    $('.star').each((index, elem) => {
                                        $(elem).removeClass("red");
                                        var itemValue = $(elem).attr('data-value');
                                        if(itemValue <= value){
                                            $(elem).addClass("red");
                                        }
                                    })

                                    $.ajax({
                                        url: "index.php?action=waardering&id={{data.id}}",
                                        method: "POST",
                                        data: {waarde: value},
                                        success: function(response){}
                                    })
                                })
                            })
                        </script>
                        <span class="fa fa-star checked star" data-value="1"></span>
                        <span class="fa fa-star checked star" data-value="2"></span>
                        <span class="fa fa-star checked star" data-value="3"></span>
                        <span class="fa fa-star star" data-value="4"></span>
                        <span class="fa fa-star star" data-value="5"></span>
                        
                    </div>
                    <script>

                        $(document).ready(function(){
                            var gemw = {{data.Gemiddelde_Waardering}};
                            $('.gwstar').each((index, elem) =>{
                                var itemValue = $(elem).attr('data-value');
                                $(elem).removeClass("red");
                                if(Math.ceil(gemw) >= itemValue){
                                    $(elem).addClass("red");
                                }
                            })
                            console.log(gemw);
                        })

                    </script>
                    <div style="clear: both"></div>
                    <div>
                        <h5 class="flotl">Keuken : {{data.Type_Keuken.Omschrijving}}</h5> 
                        <h5 class="flotr">Type : {{data.Type_Voedsel.Omschrijving}}</h5><br>
                    </div>
                    <div style="clear: both">{{data.langeOmschrijving}}</div>

                    <!--JavaScript redirect naar boodschappenlijst-->
                    <div style="margin-top: 30px">
                        <a href="index.php?action=boodschappenlijst&id={{data.id}}" type="button" class="btn btn-primary butn flotl">
                            Op Lijst
                        </a>

                        <div class="flotr"> <h2 id="favori">Voeg toe aan Favorieten</h2>
                            <script>

                                $(document).ready(function(){
                                    $('.fa-heart').click(function(){
                                        if($('.fa-heart').attr('data-bool') == 0){
                                            $('.fa-heart').removeClass("far");
                                            $('.fa-heart').addClass("fas");
                                            $('.fa-heart').attr('data-bool', 1);
                                            $('h2#favori').html("<h2>Verwijder uit Favorieten</h2>");
                                            $.ajax({
                                                url: "index.php?action=favorietLeeg&id={{data.id}}",
                                                method: "POST",
                                                data: {user_id: 3},
                                                success: function(response){}
                                            })
                                        }else{
                                            $('.fa-heart').removeClass("fas");
                                            $('.fa-heart').addClass("far");
                                            $('.fa-heart').attr('data-bool', 0);
                                            $('h2#favori').html("<h2>Voeg toe aan Favorieten</h2>");
                                            $.ajax({
                                                url: "index.php?action=favorietVol&id={{data.id}}",
                                                method: "POST",
                                                data: {user_id: 3},
                                                success: function(response){}
                                            })
                                        }
                                    })
                                })

                            </script>
                            <i class="far fa-heart heart fa-4x" style="color: red" id="empty" data-bool="0"></i>
                        </div>
                    </div>
                    
                    <!--ajax call met JavaScript-->


                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="col-md-12" style="margin-top: 20px">
            <div class="tabbable" id="tabs-508190">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#ingred" data-toggle="tab"><h1>Ingrediënten</h1></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#bered" data-toggle="tab"><h1>Bereidingswijze</h1></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#opmed" data-toggle="tab"><h1>Opmerkingen</h1></a>
                </ul>
                <div class="tab-content" style="height: 500px; width: 100%; overflow: auto">
                    <div class="tab-pane fade" id="ingred">
                        <p>
                            <ul style="list-style-type: none; padding: 0; margin: 0">
                                {% for ingr in data.Ingrediënten %}
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="circle">
                                                    <img src="{{ingr.foto}}" class="circle-content">.
                                                </div>     
                                            </div>
                                            <div class="col-md-11">
                                                <div class="teksten teksten-ingr">
                                                    <div style="display: block">
                                                        <h5>{{ingr.naam}}</h5>
                                                        {{ingr.omschrijving}}
                                                        <h6>Hoeveelheid : <div style="display: inline-block; font-family: Arial, Helvetica, sans-serif">{{ingr.Hoeveelheid}} gram</div> </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li><br>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    <div class="tab-pane active" id="bered">
                        <p>
                            <ul style="list-style-type: none; padding: 0; margin: 0">
                                {% for bereid in data.Bereiding %}
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="circle-contentb">
                                                    {{bereid.stap_of_aantal}}.
                                                </div>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="teksten teksten-bereid">
                                                    {{bereid.omschrijving}}
                                                </div>
                                            </div>
                                        </div>
                                    </li><br>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="opmed">
                        <p>
                            <ul style="list-style-type: none; padding: 0; margin: 0">
                                {% for opm in data.Opmerkingen %}
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="circle-contentb">
                                                    {{opm.user_id}}.
                                                </div>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="teksten teksten-opm">
                                                    <div style="display: block"> <h5>{{opm.Gebruikersnaam}}</h5>
                                                    {{opm.omschrijving}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li><br>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}