{# Opnemen van de "Main" file #}
{% extends "main.html.twig" %}

{% block content %}
    <a href="index.php?action=homepage">HOMEPAGE</a>
    <section>
        <div class="receptinfor">
            <div class="row">
                <div class="col-md-4">
                    <img src="{{data[0].foto}}" style="width: 100%; height: 100%">
                </div>
                <div class="col-md-8">
                    <div class="flotl" style="padding-top: 20px">
                        <i class="fas fa-user-friends fa-2x"> 4</i>
                        <i class="fas fa-euro-sign fa-2x" style="margin-left: 10px"> {{data[0].Totale_Prijs}},- </i>
                        <i class="fab fa-gripfire fa-2x" style="margin-left: 10px"> {{data[0].Totaal_Calorieën}} </i>
                    </div>
                    <div style="clear: both"></div>
                    <div class="flotl"><h2>Heerlijke {{data[0].Naam}}!</h2></div>
                    <div class="flotr"><h2>Beoordeel dit Recept</h2>
                        <script>

                            $(document).ready(function(){
                                $(".star").click( function(){
                                    var value = $(this).attr("data-value");
                                    $('.star').each((index, elem) => {
                                        $(elem).removeClass("red");
                                        var itemValue = $(elem).attr('data-value');
                                        if(itemValue <= value){
                                            $(elem).addClass("red");
                                        }
                                    })

                                    $.ajax({
                                        url: "index.php?action=waardering&id={{data[0].id}}",
                                        method: "POST",
                                        data: {waarde: value},
                                        success: function(response){}
                                    })
                                })
                                /*
                                $(".star").hover( function(){
                                    var value = $(this).attr("data-value");
                                    if(click){
                                        $(elem).removeClass("red");
                                        $('.star').each((index, elem) => {
                                        var itemValue = $(elem).attr('data-value');
                                        if(itemValue <= value){
                                            $(elem).addClass("red");
                                    }

                                        }
                                    })
                                }, function(){
                                    $('.star').each((index, elem) => {
                                        $(elem).removeClass("red");
                                    })
                                })*/
                            })
                        //$.ajax({
                        //    url: "de-url-van-je-backend-functie",
                        //    data: {
                        //        id: 1 // de data die je gaat versturen
                        //    }
                        //    success: function(result) { // de callback
                                    // result bevat nu de JSON die
                                    // door PHP gestuurd is. 
                        //            alert(result.naam); // "Henkie"
                         //   }
                        //})
                        </script>
                        <span class="fa fa-star checked star" data-value="1"></span>
                        <span class="fa fa-star checked star" data-value="2"></span>
                        <span class="fa fa-star checked star" data-value="3"></span>
                        <span class="fa fa-star star" data-value="4"></span>
                        <span class="fa fa-star star" data-value="5"></span>
                        
                    </div>
                    <div style="clear: both"></div>
                    <div>
                        <h5 class="flotl">Keuken : {{data[0].Type_Keuken.Omschrijving}}</h5> 
                        <h5 class="flotr">Type : {{data[0].Type_Voedsel.Omschrijving}}</h5><br>
                    </div>
                    <div style="clear: both">{{data[0].langeOmschrijving}}</div>

                    <!--JavaScript redirect naar boodschappenlijst-->
                    <div style="margin-top: 30px">
                        <a href="index.php?action=boodschappenlijst&id={{data[0].id}}" type="button" class="btn btn-primary butn flotl">
                            Op Lijst
                        </a>

                        <div class="flotr"> <h2>Voeg toe aan Favorieten</h2>
                            <i class="far fa-heart fa-4x" style="color: red"></i>
                            <!--if click on heart met JavaScript-->
                            <i class="fas fa-heart fa-4x" style="color: red"></i><br>
                        </div>
                    </div>
                    
                    <!--ajax call met JavaScript-->


                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="col-md-12" style="margin-top: 20px">
            <div class="tabbable" id="tabs-508190">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="#ingred" data-toggle="tab"><h1>Ingrediënten</h1></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#bered" data-toggle="tab"><h1>Bereidingswijze</h1></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#opmed" data-toggle="tab"><h1>Opmerkingen</h1></a>
                </ul>
                <div class="tab-content" style="height: 500px; width: 100%; overflow: auto">
                    <div class="tab-pane fade" id="ingred">
                        <p>
                            <ul style="list-style-type: none; padding: 0; margin: 0">
                                {% for ingr in data[0].Ingrediënten %}
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="circle">
                                                    <img src="{{ingr.foto}}" class="circle-content">.
                                                </div>     
                                            </div>
                                            <div class="col-md-11">
                                                <div class="teksten teksten-ingr">
                                                    <div style="display: block">
                                                        <h5>{{ingr.naam}}</h5>
                                                        {{ingr.omschrijving}}
                                                        <h6>Hoeveelheid : <div style="display: inline-block; font-family: Arial, Helvetica, sans-serif">{{ingr.Hoeveelheid}} gram</div> </h6>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li><br>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    <div class="tab-pane active" id="bered">
                        <p>
                            <ul style="list-style-type: none; padding: 0; margin: 0">
                                {% for bereid in data[0].Bereiding %}
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="circle-contentb">
                                                    {{bereid.stap_of_aantal}}.
                                                </div>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="teksten teksten-bereid">
                                                    {{bereid.omschrijving}}
                                                </div>
                                            </div>
                                        </div>
                                    </li><br>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                    <div class="tab-pane fade" id="opmed">
                        <p>
                            <ul style="list-style-type: none; padding: 0; margin: 0">
                                {% for opm in data[0].Opmerkingen %}
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="circle-contentb">
                                                    {{opm.user_id}}.
                                                </div>
                                            </div>
                                            <div class="col-md-11">
                                                <div class="teksten teksten-opm">
                                                    <div style="display: block"> <h5>{{opm.Gebruikersnaam}}</h5>
                                                    {{opm.omschrijving}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </li><br>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}