<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ title }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" href="css_verruk/heart.css">

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.js"></script>
</html>
<body>
<div class="container-fluid">
    {% if title == "homepage" %}
        <div id="demo" class="carousel slide block" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="{{data[0].foto}}" alt="{{data.Naam}}" width="100%" height="500">
                </div>
                <div class="carousel-item">
                <img src="{{data[1].foto}}" alt="{{data[1].Naam}}" width="100%" height="500">
                </div>
                <div class="carousel-item">
                <img src="{{data[2].foto}}" alt="{{data[2].Naam}}" width="100%" height="500">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
            <div class="block-content">
                <img src="assets/img/logo-v2.png" style="width: 500px; height: 200px">
            </div>
            <div class="block-right">
                <i class="fas fa-search fa-2x"></i>
                <input type="text" value="Zoeken" data-toggle="dropdown">
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Homepage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="index.php?action=detailpage&id=1">Detailpage {{data[0].Naam}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="index.php?action=boodschappenlijst&id=1">Boodschappen</a>
                </div>
                <i class="fas fa-bars fa-2x" style="color: orange; margin-left: 20px"></i>
            </div>
        </div>
    {% else %}
        <div class="block">
        {% if title == "boodschappenlijst" %}
            <img src="screenshots/boodsc.jpg" alt="{{data.Naam}}" width="100%" height="100%">
        {% else %}
            <img src="{{data.foto}}" alt="{{data.Naam}}" width="100%" height="100%">
        {% endif %}
            <div class="block-content">
                <img src="assets/img/logo-v2.png" style="width: 500px; height: 200px">
            </div>
            <div class="block-right">
                <i class="fas fa-search fa-2x"></i>
                <input type="text" value="Zoeken" data-toggle="dropdown">
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="index.php?action=homepage">Homepage</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="index.php?action=detailpage&id=1">Detailpage {{data.Naam}}</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="index.php?action=boodschappenlijst&id=1">Boodschappen</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-3">
            <div class="agendabox">
                <h2 class="logo">Agenda</h2>
                <div class="row" style="padding: 15px">
                    <div class="col-md-2">
                        <i class="fa fa-calendar fa-2x"></i>
                    </div>
                    <div class="col-md-10"> <h3>FontAwesome</h3>
                         <a href="https://fontawesome.com/icons?d=gallery&m=free">FontAwesome site</a>
                    </div>
                </div>
                <div class="row" style="padding: 15px">
                    <div class="col-md-2">
                        <i class="fa fa-file-pdf fa-2x"></i>
                    </div>
                    <div class="col-md-10"> <h3>Layout-it</h3>
                         <a href="https://www.layoutit.com/build">Layout-it site</a>
                    </div>
                </div>
            </div>

            <div class="loginbox">
                <h2 class="logo">Login</h2>
                <form action="index.php?action=userStore&user_id=1" method="POST">
                    <div style="margin-left: 50px">
                        <div style="color: white">E-mail:</div>
                        <input type="text" name="email" value="">
                    </div>
                    <div style="margin-left: 50px; margin-top: 20px">
                        <div style="color: white">Gebruikersnaam:</div>
                        <input type="text" name="gebruiker" value="">
                    </div>
                    <div  style="text-align: center; margin-top: 20px">
                        <input type="button" class="btn btn-primary butn" value="Login">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-9">
            {%  block content %}
            {%  endblock %}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="contactinfo">
                <div class="row">
                    <div class="col-md-1">
                        <img src="assets/img/verrukkulluk-pay-off.png" style="width: 100%; height: 70px">
                    </div>
                    <div class="col-md-11">      
                        <h1>Contact</h1>
                        Verrukkulluk.nl<br>
                        Poststraat 2b<br>
                        Sittard<br>
                        info@verrukkulluk.nl
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
        </div>
    </div>

</div>

</body>